.home {
  height: 91vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 420px;
  min-height: 480px;
  position: relative;
  overflow: hidden;
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(50, 50, 50);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px;
  color: #fff;
}

.card_middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.card_middle_top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card_middle_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  width: 100%;
}

.brand {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.desc {
  color: #999;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  width: 95%;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.create_wallet_btn {
  background-color: #ffe501;
  color: #222;
}

.create_wallet_btn:hover {
  background-color: #f5e34a;
}

.import_wallet_btn {
  background-color: #333;
  color: #fff;
}

.import_wallet_btn:hover {
  background-color: #4d4d4d;
}
